*.o
*.bin
*.out
*.map

/src/.metadata/*
!/src/.metadata/.plugins
/src/.metadata/.plugins/*

!/src/.metadata/.plugins/org.eclipse.core.runtime
/src/.metadata/.plugins/org.eclipse.core.runtime/.settings/*
!/src/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.core.prefs

!/src/.metadata/.plugins/org.eclipse.debug.core
/src/.metadata/.plugins/org.eclipse.debug.core/*
!/src/.metadata/.plugins/org.eclipse.debug.core/.launches

/src/chibios/.metadata/*
!/src/chibios/.metadata/.plugins
/src/chibios/.metadata/.plugins/*

!/src/chibios/.metadata/.plugins/org.eclipse.core.runtime
/src/chibios/.metadata/.plugins/org.eclipse.core.runtime/.settings/*
!/src/chibios/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.core.prefs

!/src/chibios/.metadata/.plugins/org.eclipse.debug.core
/src/chibios/.metadata/.plugins/org.eclipse.debug.core/*
!/src/chibios/.metadata/.plugins/org.eclipse.debug.core/.launches
/src/chibios/RemoteSystemsTempFiles
